#intranet_container{
    position: relative;
    padding-top: 50px;
    font-size: 12px;
}

#intranet_container #logout_btn{
    position: absolute;
    top: 0;
    right: 0;
}

#intranet_container #add_btn{
    position: absolute;
    top: 0;
    left: 0;
}